body {
    font-family: 'Arial', sans-serif;
    background-color: #f7e7d9;
    color: #5e5e5e;
    padding: 15px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #e46472;
    font-weight: bold;
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e46472;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c73e55;
}

a {
    color: #4b8cd5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#round{
    height:100px;
    width:100px;
    border-radius:50%;
    background:green;
    overflow:hidden;
}